<nav class="topbar">

  <div class="left">

    <div class="navbar-logo">
      <img
        src="/comptax-logo.png"
        alt="ComptaX Logo"
      >
    </div>

    <div class="brand-block">
      <span class="brand">
        Compta<span>X</span>
      </span>
      <small>Gestion Comptable</small>
    </div>

  </div>

  <div class="right">

    <div class="user-info">
      <i class="bi bi-person-circle"></i>
      <span>Admin</span>
    </div>

    <button
      class="logout-btn"
      type="button"
      (click)="logout()"
    >
      <i class="bi bi-box-arrow-right"></i>
      <span>Déconnexion</span>
    </button>

  </div>

</nav>